@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/NunitoSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~assets/fonts/NunitoSans-Bold.ttf') format('truetype');
}

html {
  font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

body {
  background-color: #ecf1f6;
  width: 100%;
  min-height: 100vh;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.container {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.margin-auto {
  margin: 0 auto;
}

.flex {
  display: flex;
}

.a-center {
  align-items: center;
}

.j-center {
  justify-content: center;
}

.j-between {
  justify-content: space-between;
}

.d-column {
  flex-direction: column;
}

.input {
  height: 37px;
  width: 263px;
  border-radius: 4px;
  border: 1px solid #cbcbcb;
}

.error-input {
  color: #ff0000;
  font-size: 9px;
}

label {
  font-size: 12px;
  font-weight: 400;
  margin: 8px;
}

.button-form {
  width: 263px;
  height: 37px;
  border-radius: 4px;
  color: #fff;
  background-color: #30308c;
}

.mb-15 {
  margin-bottom: 15px;
}

.w-100 {
  width: 100%;
}

.pointer {
  cursor: pointer;
}
